header {
	width:100%;
	height:auto;
	margin:0 auto 20px;
	background: $lightgray;
	padding-top:10px;
	padding-bottom:10px;
	border-bottom:1px solid black;

		.header-inner {
			width:70%;
			margin:0 auto;
			padding: 5px;

				img {
					 display:inline-block;
					 max-width: 100%;
				}//----------img
		}//----------header-inner
			
}//----------header